<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    <p>
    Name: <input id="name" type="text" name="user[name]"><br>
    Email: <input id="email" type="eail" name="user[email]"><br>
    Password: <input id="password" type="password" name="user[password]"><br>
    </p>
    <input id="Submit" value="Sign Up" type="submit">
</form>